.menu {
    height: 120px;
    width: 100%;
}

.book {
    display: inline-block;
    height: 100px;
    min-width: 100px;
    width: 30%;
    cursor: pointer;
}
.menubars, .menubars a{
    color:white;
}
.book.past, .menubars .past{
    background-color: green;
}
.book.present, .menubars .present{
    background-color: yellow;
}
.book.future, .menubars .future{
    background-color: red;
}


.book .title {
    background-color: white;
    margin: 1rem 0.5rem 0;
    text-transform: uppercase;
    text-align:center;
}

@media only screen and (min-width: 576px) {
    .menubars li{
        display: inline-block;
    }
}