.menu {
    height: 120px;
    width: 100%;
}

.book {
    display: inline-block;
    height: 100px;
    min-width: 100px;
    width: 30%;
    cursor: pointer;
    .title {
        background-color: white;
        margin: 1rem 0.5rem 0;
        text-transform: uppercase;
        text-align:center;
    }
    &.past{
        background-color: $lightgreen;
    }
    &.present{
        background-color: $lightyellow;
    }
    &.future{
        background-color: $lightred;
    }
}
.menubars{
 
    ul{
        margin:0;
        padding:0.5rem;
        text-align: center;
    }
    a{
        color:$white;
        padding:0.5rem;
        &:hover{
            text-decoration: none;
        }
    }
    .past{
        background-color: $lightgreen;
        a:hover{
            background-color: $darkgreen;
        }
    }.present{
        background-color: $lightyellow;
        a:hover{
            background-color: $darkyellow;
        }
    }.future{
        background-color: $lightred;
        a:hover{
            background-color: $darkred;
        }
    }
}



@media only screen and (min-width: 576px) {
    .menubars li{
        display: inline-block;
    }
}