$lightgreen:#39B54A;
$darkgreen: #006837;
$lightyellow: #FDC000;
$darkyellow: #FB923B;
$lightred:#F15B24;
$darkred:#C1272D;
$backgroundblue:#69B3CC;

$white:#FFF;
$black: #252525;

$brand:rgb(106, 106, 219);