@import 'variables';

body{
    background-color: $backgroundblue;
    font-family: Myriad Pro;
}
.header{
    a{
        text-decoration: none;
        color: $brand;
    }
    span{
        vertical-align: bottom;
        font-size: 1.75rem;
    }
    img{
        width: 100px;
    }
}
.header-image{
    max-width: 100%;
    max-height: 500px;
}

@import 'menubar';
@import 'footer';