@import 'variables';

body{
    background-color: $backgroundblue;
    font-family: Myriad Pro;
}
.header{
    color:$brand;
}
.header-image{
    max-width: 100%;
    max-height: 500px;
}

@import 'menubar';