RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.holdsugar.hu/$1 [R,L]

Options +FollowSymLinks

RewriteRule ^kepek/$ index.php?kepek [L]
RewriteRule ^mult/(.*)/$ index.php?time=mult&sub=$1 [L]
RewriteRule ^jelen/(.*)/$ index.php?time=jelen&sub=$1 [L]
RewriteRule ^jovo/(.*)/$ index.php?time=jovo&sub=$1 [L]